<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--当构造函数的依赖值大于1个时，需要用index属性指定-->
    <!--<bean id="knight" class="ch01.BraveKnight">-->
        <!--<constructor-arg index="0" ref="quest">-->
        <!--</constructor-arg>-->
        <!--<constructor-arg index="1" ref="minister">-->
        <!--</constructor-arg>-->
    <!--</bean>-->

    <!--<bean id="quest" class="ch01.SlayDragonQuest">-->
    <!--</bean>-->
    <!--<bean id="minister" class="ch01.Minister">-->
    <!--</bean>-->

    <!--<aop:config> &lt;!&ndash;定义一个切面的配置&ndash;&gt;-->
        <!--<aop:aspect ref="minister"> &lt;!&ndash;定义一个切面的bean, 用id值作为映射&ndash;&gt;-->
            <!--&lt;!&ndash;在这里切点的定义定义成了一个所有对象以所有的参数运行方法embarkQuest()的时候&ndash;&gt;-->
            <!--<aop:pointcut id="embark" expression="execution(* *.embarkQuest(..))"/>&lt;!&ndash;定义一个切点&ndash;&gt;-->
            <!--<aop:before pointcut-ref="embark" method="before"/>-->
            <!--<aop:after method="after" pointcut-ref="embark"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <bean id="myFactoryBeanService" class="ych.MyFactoryBeanServiceImpl"/>

    <bean id="fbMyFactoryBeanService" class="ych.ProxyFactoryBean">
        <property name="interfaceName" value="ych.MyFactoryBeanService"/>
        <!--<property name="targetr" ref="myFactoryBeanServiceImpl"/>-->
    </bean>

</beans>
